
<div class="flex justify-center mt-4 md:hidden block">
    <KeywordSearch></KeywordSearch>
</div>

<div class="p-4 flex flex-wrap">
    @if (PagingModel != null && PagingModel.ArticleIntroductions != null)
        foreach (var item in PagingModel.ArticleIntroductions)
        {
            <Article_Introduction Introduction="item"></Article_Introduction>
        }
</div>

<Paging PagingModel="PagingModel" OnPagingChangeEvent="PageChanged"></Paging>

