@using Blazor.Blog.Enum
@using Blazor.Blog.Model
@using Blazor.Blog.State

@inject NavigationManager uriHelper
@inject KeywordSearchState keywordSearchState
@inject ArticleService articleService
@implements IDisposable

<div class="flex justify-center mt-4 md:hidden block">
    <KeywordSearch></KeywordSearch>
</div>

<div class="p-4 flex flex-wrap">
    @if (pagingModel != null && pagingModel.ArticleIntroductions != null)
        foreach (var item in pagingModel.ArticleIntroductions)
        {
            <Article_Introduction Introduction="item"></Article_Introduction>
        }
</div>

<Paging PagingModel="pagingModel" OnPagingChangeEvent="PageChanged"></Paging>

@code {
    [Parameter]
    public string? ArticleType { get; set; }

    [Parameter]
    public int? CurrentPage { get; set; }

    [Parameter]
    public string? Keyword { get; set; }

    private PagingModel pagingModel { get; set; } = new PagingModel();

    private ArticleTypeEnum Type
    {
        get
        {
            return ArticleType switch
            {
                nameof(ArticleTypeEnum.Technology) => ArticleTypeEnum.Technology, // This is the first switch expression arm
                nameof(ArticleTypeEnum.Recipe) => ArticleTypeEnum.Recipe,
                _ => ArticleTypeEnum.Technology,
            };
        }
    }

    public void PageChanged(int page)
    {
        pagingModel.CurrentPage = page;

        var type = Type == ArticleTypeEnum.Technology ? "" : Type.ToString();
        var queryString = GetNavigateToUrlQueryString();

        uriHelper.NavigateTo($"/{type}{queryString}");
    }

    protected override async Task OnParametersSetAsync()
    {
        pagingModel.CurrentPage = CurrentPage;
        keywordSearchState.SetKeyword(Keyword);

        GetArticleListAsync();
        await base.OnParametersSetAsync();
    }

    private void GetArticleListAsync()
    {
        var model = articleService.GetArticleIntroduction(Type, CurrentPage ?? 1, Keyword);

        if (model == null)
        {
            return;
        }

        pagingModel = model;
    }

    protected override Task OnInitializedAsync()
    {
        keywordSearchState.OnChange += SetKeyword;
        return base.OnInitializedAsync();
    }

    private void SetKeyword()
    {
        // 處理換業
        if (Keyword != keywordSearchState.Keyword)
        {
            Keyword = keywordSearchState.Keyword;
            pagingModel.CurrentPage = 1;
        }

        var type = Type == ArticleTypeEnum.Technology ? "" : Type.ToString();

        var queryString = GetNavigateToUrlQueryString();

        uriHelper.NavigateTo($"/{type}{queryString}");
    }

    private string GetNavigateToUrlQueryString(int? page = null, string? keyword = null)
    {
        var queryStringDic = new Dictionary<string, object>();

        if (pagingModel.CurrentPage != null && pagingModel.CurrentPage != 1)
        {
            queryStringDic.Add(nameof(pagingModel.CurrentPage), pagingModel.CurrentPage ?? 1);
        }

        if (!string.IsNullOrWhiteSpace(Keyword))
        {
            queryStringDic.Add(nameof(Keyword), Keyword);
        }

        var queryString = "";

        if (queryStringDic.Any())
            queryString = "?" + string.Join("&", queryStringDic.Select(x => $"{x.Key}={x.Value}").ToArray() ?? Array.Empty<string>());

        return queryString;
    }

    public void Dispose()
    {
        keywordSearchState.OnChange -= SetKeyword;
    }

}
