@using Blazor.Blog.Stage
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives

@inject NavigationManager NavigationManager
@inject KeywordSearchStage KeywordSearchStage

<input class="p-2 border-zinc-300 border-2 rounded-lg focus:outline-0 focus:border-zinc-400 text-zinc-500"
       @bind="@Keyword"
       @oninput="@((e) => { Keyword=e?.Value?.ToString();})"
       @onkeypress="@KeyboardEventHandler"
       placeholder="請輸入關鍵字" />
<button class="ml-2 p-2 border-2 rounded-lg text-zinc-500 hover:text-white hover:bg-zinc-500" @onclick="@SearchClick">搜尋</button>

@code {

    private string? Keyword { get; set; }

    private bool foundQueryParameter { get; set; }

    private Dictionary<string, StringValues> valueFromQueryString { get; set; } = new Dictionary<string, StringValues>();

    private void SearchClick()
    {
        if (string.IsNullOrWhiteSpace(Keyword))
            return;

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        valueFromQueryString = QueryHelpers.ParseQuery(uri.Query);

        var searchUrl = "/Search";

        if (valueFromQueryString.Keys.Contains(nameof(Keyword)))
        {
            var keywordForQueryString = valueFromQueryString.FirstOrDefault(x => x.Key == nameof(Keyword));

            foreach (var item in keywordForQueryString.Value)
            {
                if (string.IsNullOrWhiteSpace(item))
                    continue;
                searchUrl = QueryHelpers.AddQueryString(searchUrl, nameof(Keyword), item);
            }

        }

        searchUrl = QueryHelpers.AddQueryString(searchUrl, nameof(Keyword), Keyword);

        NavigationManager.NavigateTo(searchUrl);

        Keyword = string.Empty;
    }

    private void KeyboardEventHandler(KeyboardEventArgs args)
    {
        if (args.Key.ToLower() == "enter")
        {
            SearchClick();
        }

        // Ctrl + enter
        if (args.Key.Length == 1 &&
            (int)args.Key[0] == 10 &&
            args.Code.ToLower() == "enter")
        {
            KeywordSearchStage.NotifyStateChange();
        }

    }

}
