@using Blazor.Blog.Enum

@inject NavigationManager uriHelper

<nav class="border-b border-b-1 border-slate-200 px-4 py-2 flex flex-col items-center sm:justify-between sm:flex-row">
    <div>
        <a href="/" class="text-black text-2xl font-bold cursor-pointer">
            OverLoading
        </a>
    </div>
    <div class="py-2">
        <KeywordSearch></KeywordSearch>
    </div>
    <div class="flex items-center">
        @foreach (var item in navLinkSettings)
        {
            <a href="@item.href" class="mx-1 border rounded-md p-2 text-zinc-500 border-zinc-300 hover:text-white hover:bg-zinc-500 cursor-pointer">
                <span class="text-md">
                    @item.title
                </span>
            </a>
        }
    </div>
</nav>

@code {

    private (string title, string href)[] navLinkSettings => new (string, string)[]
    {
            ("技術",$"/"),
            ("食譜",$"/{nameof(ArticleTypeEnum.Recipe)}")
    };

}