@page "/Article/{Nickname}"
@using Markdig
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager urlHelper

<meta name="keywords" content="@(articleModel?.SEOKeyword ?? "")">

<meta name="description" content="@(articleModel?.Description ?? "")">

<div class="markdown-body px-4 pt-4 pb-10 max-w-screen">
    @((MarkupString)(htmlContent ?? ""))
</div>

@code {
    [Parameter]
    public string? Nickname { get; set; }

    private ArticleModel? articleModel { get; set; }

    private string? htmlContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadingArticle();
    }

    private async Task LoadingArticle()
    {
        // 文章內容
        var response = await httpClient.GetAsync($"/Api/Article/{Nickname}");

        if (!response.IsSuccessStatusCode)
        {
            urlHelper.NavigateTo("/", true);
            return;
        }

        articleModel = await response.Content.ReadFromJsonAsync<ArticleModel>();

        if (articleModel == null)
        {
            urlHelper.NavigateTo("/", true);
            return;
        }

        // 轉 html
        htmlContent = Markdown.ToHtml(articleModel.MarkdownContent ?? "");

        StateHasChanged();

        await jsRuntime.InvokeVoidAsync("OnScrollEvent");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("Prism.highlightAll");
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await LoadingArticle();
    }

}

