@inherits LayoutComponentBase


<div class=" min-h-screen overflow-x-hidden">
    <div class="m-auto 2xl:w-[1400px] xl:w-[1200px] lg:w-[1000px] md:w-[800px] w-screen">

        <NavMenu></NavMenu>

        @Body
    </div>
</div>