@inherits LayoutComponentBase

@inject IJSRuntime jsRuntime

<main class="flex justify-center">
    <div class="2xl:w-[1400px] xl:w-[1200px] lg:w-[1000px] md:w-[800px] w-screen">
        <NavMenu></NavMenu>
        @Body
    </div>
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}