@using Blazor.Blog.Shared.Enum

<nav class="border-b border-b-1 border-slate-200 flex justify-between px-4">
    <div class="py-4">
        <a href="" class="text-black text-2xl font-bold">
            OverLoading
        </a>
    </div>
    <div class="flex items-center">
        @foreach (var item in navLinkSettings)
        {
            <a class="mx-1 border rounded-md p-2 text-zinc-500 border-zinc-300" href="@item.href">
                <span class="text-md">
                    @item.title
                </span>
            </a>
        }

    </div>
</nav>

@code {
    private (string title, string href)[] navLinkSettings => new (string, string)[]
    {
            ("技術",$"/{nameof(ArticleTypeEnum.Technology)}"),
            ("食譜",$"/{nameof(ArticleTypeEnum.Recipe)}")
    };
}