@using Blazor.Blog.Shared.Enum

@inject NavigationManager uriHelper


<nav class="border-b border-b-1 border-slate-200 flex justify-between px-4">
    <div class="py-4">
        <span @onclick="@(()=>NevigateToUrl($"/"))" class="text-black text-2xl font-bold cursor-pointer">
            OverLoading
        </span>
    </div>
    <div class="py-4 md:block hidden">
        <KeywordSearch></KeywordSearch>
    </div>
    <div class="flex items-center">
        @foreach (var item in navLinkSettings)
        {
            <span class="mx-1 border rounded-md p-2 text-zinc-500 border-zinc-300 hover:text-white hover:bg-zinc-500 cursor-pointer" @onclick="@(()=>NevigateToUrl(item.href))">
                <span class="text-md">
                    @item.title
                </span>
            </span>
        }
    </div>
</nav>

@code {

    private (string title, string href)[] navLinkSettings => new (string, string)[]
    {
            ("技術",$"/"),
            ("食譜",$"/{nameof(ArticleTypeEnum.Recipe)}")
    };

    private void NevigateToUrl(string href)
    {
        uriHelper.NavigateTo(href, true);
    }

}